* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: #101010;
  background-color: #FFCFE6;
  font-family: Roboto, sans-serif;
}

.todo-app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.logo-container {
  width: 100%;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hellokitty-logo {
  width: 500px;
  height: auto;
}

.todo-principal {
  width: 600px;
  min-height: 500px;
  background-color: #f6469a;
  padding: 25px;
  margin: 10px;
  border-radius: 22px;
  justify-content: center;
}